<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LinkBoard | Home</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <h1>LinkBoard</h1>
    <p>Seamless Video Collaboration..</p>
    <div class="btn-group">
      <button onclick="createRoom()">Create Meeting</button>
      <button onclick="joinMeeting()">Join Meeting</button>
    </div>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>
